body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
}
.girdAndMenu{
    display: flex;
    flex-direction: row;
}
.menu{
    height: 800px;
    width: 250px;
    background-color: beige;
    border: 2px solid black;
}
.container{
    height: 800px;
    width: 800px;
    border: 2px solid black;
    display: inline-grid;
}

.box{
    
    border: 1px solid black;
}

.hoveringDiv{
    background-color: var(--hover-color, yellow);
    /*animation: fade 1s ease-in-out;*/
}

@keyframes fade {
    0%      {background-color: green;}
    100%    {background-color: grey;}
}
