.container{
    height: 800px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

div{
    height: 46px;
    width:46px;
    background-color: grey;
    border: 2px solid white
}

.hoveringDiv{
    animation: fade 1s ease-in-out;
}


@keyframes fade {
    0%      {background-color: green;}
    100%    {background-color: grey;}
}
