body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
}
.girdAndMenu{
    display: flex;
    flex-direction: row;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 250px;
    background-color: beige;
    border: 2px solid black;
}

.menuTitle{
    font-size: 30px;
}

#gridNumber{
    font-size: 15px;
}

.updateGrid{
    height: 50px;
    width: 150px;
    font-size: 15px;
    border-radius: 25px;
}
.container{
    height: 800px;
    width: 800px;
    border: 2px solid black;
    display: inline-grid;
}

.box{
    
    border: 1px solid black;
}

.hoveringDiv{
    background-color: var(--hover-color);
    /*animation: fade 1s ease-in-out;*/
}

:root {
    --hover-color: black; /* Default color */
}


@keyframes fade {
    0%      {background-color: green;}
    100%    {background-color: grey;}
}
